/*

.navbar-nav > .active > a, 
.navbar-nav > .active > a:hover, 
.navbar-nav > .active > a:focus {
  background-color: #5f5e97 !important;
  border-color: #5f5e97 !important;
}

.navbar-inverse .navbar-nav > li > a.oe_menu_toggler:hover{
	background-color: #5f5e97;
}

.navbar-inverse .navbar-nav > li > a.oe_menu_leaf:hover{
	background-color: #5f5e97;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #5f5e97 !important;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #5f5e97 !important;
}

div.navbar-collapse collapse >
ult.nav navbar-nav navbar-left oe_application_menu_placeholder > li > a {
	  background-color: #5f5e97 !important;
  	border-color: #5f5e97 !important;
}

#oe_main_menu_navbar.navbar{
  background-color: #7c7bad;
  border-color: #7c7bad;
}

#oe_main_menu_navbar.navbar-inverse{
	  background-color: #7c7bad;
  border-color: #7c7bad;
}

*/
